<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= player._id %>"
                    >
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                        id="playerNameTextField"
                        placeholder="Enter the Player Name"
                        name="name" 
                        value="<%= player.name %>"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="phoneTextField">Phone</label>
                    <input type="text"
                    class="form-control"
                    id="phoneTextField"
                    placeholder="(647)542-1234"
                    name="phone" 
                    value="<%= player.phone %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="teamTextField">Team</label>
                    <input type="text"
                    class="form-control"
                    id="playerTeamTextField"
                    placeholder="Enter the name of the player's team"
                    name="team" 
                    value="<%= player.team %>"
                    required>
                </div>

                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/players/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>