<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= tournament._id %>"
                    >
                    <label for="tournamentNameTextField">Name</label>
                    <input type="text" class="form-control"
                        id="tournamentNameTextField"
                        placeholder="Enter the Tournament Name"
                        name="name" 
                        value="<%= tournament.name %>"
                        required>
                </div>
                
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text"
                    class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter a short description of the tournament. e.g. 1-on-1 Basketball Tournament"
                    name="description" 
                    value="<%= tournament.description %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="tournamentStatusTextField">Status</label>
                    <input type="text"
                    class="form-control"
                    id="tournamentStatusTextField"
                    placeholder="Enter the Status of the Tournament"
                    name="status" 
                    value="<%= tournament.status %>"
                    required>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Match 1</legend>
                    <label for="player1TextField">Player 1</label>
                    <input type="text"
                    class="form-control"
                    id="player1TextField"
                    placeholder="Enter the Name of Player 1"
                    name="player1" 
                    value="<%= tournament.player1 %>">
                    <input type="text"
                    class="form-control"
                    id="player2TextField"
                    placeholder="Enter the Name of Player 2"
                    name="player2" 
                    value="<%= tournament.player2 %>">
                </fieldset>
                <select class="form-control" id="match1WinnerSelect" name="winner1">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>

                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/tournaments/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>