<%- include ../partials/header.ejs %>

<!-- Content for the Details page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

                <div class="form-group">
                    <label for="nameTextField">Name:</label>
                    <strong><%= tournament.name %></strong>
                </div>
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <strong><%= tournament.description %></strong>
                </div>
                <div class="form-group">
                    <label for="statusTextField">Status:</label>
                    <strong><%= tournament.status %></strong>                    
                </div>
                <div class="form-group">
                    <label>Match 1</label>
                    <strong><%= tournament.match1.player1 %></strong> 
                    <strong><%= tournament.match1.player1 %></strong> 
                    <label>Match 1 Winner</label>
                    <strong><%= tournament.match1.winner1 %></strong> 
                                      
                </div>
                
                <br />
                
                <a href="/tournaments/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>