<%- include ../partials/header.ejs %>

<!-- Content for the Details page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

                <div class="form-group">
                    <label for="makeTextField">Name:</label>
                    <strong><%= tournament.name %></strong>
                </div>
                <div class="form-group">
                    <label for="modelTextField">Phone</label>
                    <strong><%= tournament.description %></strong>
                </div>
                <div class="form-group">
                    <label for="yearTextField">Team:</label>
                    <strong><%= tournament.status %></strong>                    
                </div>
                
                <br />
                
                <a href="/tournaments/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>